<nav class="shadow-sm mb-3 bg-white rounded navbar navbar-light">
  <a [routerLink]="['/dashboard']">
      <div class="btn ms-4 navbar-brand">
          ChatApp
      </div>
  </a>
    <div class="me-auto nav-item">
      <a [routerLink]="['chatroom/create']" *ngIf="authService.isLoggedIn()" href="/group/create" class="font-weight-bold create-icon nav-item btn">
          Create
      </a>
    </div>
  <div class="flex-row-reverse bd-highlight">
    <div class="navbar-nav flex-row-reverse">
      <a (click)="onClickSignout()" *ngIf="authService.isLoggedIn()" class="m-2 btn" >Sign Out</a>
      <a *ngIf="!authService.isLoggedIn()" class="m-2 btn" [routerLink]="['/login']">Login</a>
      <a *ngIf="!authService.isLoggedIn()" class="m-2 btn" [routerLink]="['/register']">Register</a>
    </div>
  </div>
</nav>

